.ombuslide-responsive {

  ul.slides {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;

      img {
        display: block;
        width: 100%;
        height: auto;
      }

      .contextual-links-wrapper {
        right: 50px;
      }
    }
  }
}
