.opacity(@opacity: 1) {
  @ieOpacity: @opacity * 100;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@{ieOpacity})";
  filter: ~"alpha(opacity=@{ieOpacity})";
  opacity: @opacity;
}

.background-color-rgba(@color, @alpha) {
  @alphacolor: hsla(hue(@color), saturation(@color), lightness(@color), @alpha);
  @ieAlphacolor: argb(@alphacolor);

  background-color: @color; // Fallback for older browsers
  background-color: @alphacolor;

  // IE hacks
  zoom: 1; // hasLayout
  background-color: transparent~'\9';
  -ms-filter:  "progid:DXImageTransform.Microsoft.gradient(startColorstr=@{ieAlphacolor}, endColorstr=@{ieAlphacolor})"; // IE 8+
      filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr=@{ieAlphacolor}, endColorstr=@{ieAlphacolor})"; // IE 6 & 7
}

.image-force-height-proportional() {
  .slide-image-outer, .slides-nav {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 35%;
  }

  .slide-image-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .field-name-field-image {
    height: 100%;

    img {
      width: auto;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .slides-nav {
    position: absolute;
    top: 0;
    left: 0;
  }

  .slides-nav-inner {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
  }

  &.image-force-height-proportional-3-9-3 {
    .slide-image-outer, .slides-nav {
      padding-top: 76.92%;
    }
  }

  &.image-force-height-proportional-4-3 {
    .slide-image-outer, .slides-nav {
      padding-top: 75%;
    }
  }

  &.image-force-height-proportional-16-9 {
    .slide-image-outer, .slides-nav {
      padding-top: 56.25%;
    }
  }
}

.center-crop() {
  .slide-image-inner {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    // TODO: Investigate for IE8
    // filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale');
    // -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
  }

  img {
    width: 100%;
    height: 100%;
    .opacity(0);
  }
}

// Default mobile handling
// Slides and captions are arranged

.ombuslide-responsive {
  position: relative;
  overflow: hidden;

  .ombuslide-responsive-inner, .slides, .slides-inner, .slides-list {
    width: 100%;
  }

  .slides {
    position: relative;
    left: 0;
    font-size: 0;
  }

  .slides-list {
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    width: 100%;

    > li {
      position: relative;
      display: inline-block;
      margin: 0;
      padding: 0;
      width: 100%;
      vertical-align: top;

      .contextual-links-wrapper {
        right: 40px;
      }
    }
  }

  .field-name-field-image {
    background-color: rgb(200, 200, 200);

    img {
      width: 100%;
      height: auto;
      max-width: 100%;
      max-height: 100%;
      display: block;
    }
  }

  .group-caption {
    padding: 15px;
    white-space: normal;
    .background-color-rgba(black, 0.5);
    color: white;

    * {
      margin: 0;
      padding: 0;
    }
  }

  .slides-nav {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
  }

  .slides-nav-list {
    width: 100%;
    margin: 10px 0 0 0;
    padding: 0;
    list-style: none;
    text-align: center;

    > li {
      margin: 0 -0.25em 0 0;
      padding: 0;
      display: inline-block;

      a {
        position: relative;
        display: block;
        width: 36px;
        height: 24px;
        padding: 0;
        pointer-events: auto;
        text-decoration: none;

        span {
          display: none;
        }

        &:before, &:after {
          content: '●';
          position: absolute;
          top: -4px;
          left: 0;
          width: 100%;
          color: rgb(153, 153, 153);
          color: rgba(255, 255, 255, 0.4);
          text-align: center;
          font-size: 54px;
          line-height: 24px;
          text-align: center;
          transition: color 0.3s ease;
        }

        &:after {
          top: -2px;
          font-size: 28px;
          color: white;
        }
      }

      &.active a:after {
        color: black;
      }
    }
  }

  // Transitions

  &.transition-slide {
    .slides {
      transition: left 0.6s ease;
    }
  }

  &.transition-fade {
    .slides-list {
      position: relative;

      > li {
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
      }
    }
  }

  // Image handling

  &.image-force-height-proportional {
    .image-force-height-proportional();
  }

  &.center-crop {
    .center-crop();
  }
}

// Mobile only

@media all and (max-width: 990px) {

  .ombuslide-responsive {

    // Image handling

    &.image-force-height-proportional-mobile {
      .image-force-height-proportional();
    }
  }
}

// Desktop only

@media all and (min-width: 990px) {

  .ombuslide-responsive {

    // Image handling

    &.center-crop-desktop {
      .center-crop();
    }

    // Caption handling

    &.caption-overlay-desktop.image-force-height-proportional {
      .slides-list > li {
        position: relative;
      }

      .group-caption {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        .opacity(0);
        transition: opacity 0.3s ease;
      }

      &:hover {
        .group-caption {
          .opacity(1);
        }
      }
    }
  }
}
