.ombuslide-responsive {
  position: relative;
  overflow: hidden;
}
.ombuslide-responsive .ombuslide-responsive-inner,
.ombuslide-responsive .slides,
.ombuslide-responsive .slides-inner,
.ombuslide-responsive .slides-list {
  width: 100%;
}
.ombuslide-responsive .slides {
  position: relative;
  left: 0;
  font-size: 0;
}
.ombuslide-responsive .slides-list {
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  width: 100%;
}
.ombuslide-responsive .slides-list > li {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
  vertical-align: top;
}
.ombuslide-responsive .slides-list > li .contextual-links-wrapper {
  right: 40px;
}
.ombuslide-responsive .field-name-field-image {
  background-color: #c8c8c8;
}
.ombuslide-responsive .field-name-field-image img {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  display: block;
}
.ombuslide-responsive .group-caption {
  padding: 15px;
  white-space: normal;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.5);
  zoom: 1;
  background-color: transparent \9;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000, endColorstr=#80000000)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000, endColorstr=#80000000);
  color: white;
}
.ombuslide-responsive .group-caption * {
  margin: 0;
  padding: 0;
}
.ombuslide-responsive .slides-nav {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}
.ombuslide-responsive .slides-nav-list {
  width: 100%;
  margin: 10px 0 0 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.ombuslide-responsive .slides-nav-list > li {
  margin: 0 -0.25em 0 0;
  padding: 0;
  display: inline-block;
}
.ombuslide-responsive .slides-nav-list > li a {
  position: relative;
  display: block;
  width: 36px;
  height: 24px;
  padding: 0;
  pointer-events: auto;
  text-decoration: none;
}
.ombuslide-responsive .slides-nav-list > li a span {
  display: none;
}
.ombuslide-responsive .slides-nav-list > li a:before,
.ombuslide-responsive .slides-nav-list > li a:after {
  content: 'â—';
  position: absolute;
  top: -4px;
  left: 0;
  width: 100%;
  color: #999999;
  color: rgba(255, 255, 255, 0.4);
  font-size: 54px;
  line-height: 24px;
  text-align: center;
  transition: color 0.3s ease;
}
.ombuslide-responsive .slides-nav-list > li a:after {
  top: -2px;
  font-size: 28px;
  color: white;
}
.ombuslide-responsive .slides-nav-list > li.active a:after {
  color: black;
}
.ombuslide-responsive.transition-slide .slides {
  transition: left 0.6s ease;
}
.ombuslide-responsive.image-force-height-proportional .slide-image-outer,
.ombuslide-responsive.image-force-height-proportional .slides-nav {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 35%;
}
.ombuslide-responsive.image-force-height-proportional .slide-image-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ombuslide-responsive.image-force-height-proportional .field-name-field-image {
  height: 100%;
}
.ombuslide-responsive.image-force-height-proportional .field-name-field-image img {
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.ombuslide-responsive.image-force-height-proportional .slides-nav {
  position: absolute;
  top: 0;
  left: 0;
}
.ombuslide-responsive.image-force-height-proportional .slides-nav-inner {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
}
.ombuslide-responsive.image-force-height-proportional.image-force-height-proportional-3-9-3 .slide-image-outer,
.ombuslide-responsive.image-force-height-proportional.image-force-height-proportional-3-9-3 .slides-nav {
  padding-top: 76.92%;
}
.ombuslide-responsive.image-force-height-proportional.image-force-height-proportional-4-3 .slide-image-outer,
.ombuslide-responsive.image-force-height-proportional.image-force-height-proportional-4-3 .slides-nav {
  padding-top: 75%;
}
.ombuslide-responsive.image-force-height-proportional.image-force-height-proportional-16-9 .slide-image-outer,
.ombuslide-responsive.image-force-height-proportional.image-force-height-proportional-16-9 .slides-nav {
  padding-top: 56.25%;
}
.ombuslide-responsive.center-crop .slide-image-inner {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.ombuslide-responsive.center-crop img {
  width: 100%;
  height: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}
@media all and (max-width: 990px) {
  .ombuslide-responsive.image-force-height-proportional-mobile .slide-image-outer,
  .ombuslide-responsive.image-force-height-proportional-mobile .slides-nav {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 35%;
  }
  .ombuslide-responsive.image-force-height-proportional-mobile .slide-image-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .ombuslide-responsive.image-force-height-proportional-mobile .field-name-field-image {
    height: 100%;
  }
  .ombuslide-responsive.image-force-height-proportional-mobile .field-name-field-image img {
    width: auto;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .ombuslide-responsive.image-force-height-proportional-mobile .slides-nav {
    position: absolute;
    top: 0;
    left: 0;
  }
  .ombuslide-responsive.image-force-height-proportional-mobile .slides-nav-inner {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
  }
  .ombuslide-responsive.image-force-height-proportional-mobile.image-force-height-proportional-3-9-3 .slide-image-outer,
  .ombuslide-responsive.image-force-height-proportional-mobile.image-force-height-proportional-3-9-3 .slides-nav {
    padding-top: 76.92%;
  }
  .ombuslide-responsive.image-force-height-proportional-mobile.image-force-height-proportional-4-3 .slide-image-outer,
  .ombuslide-responsive.image-force-height-proportional-mobile.image-force-height-proportional-4-3 .slides-nav {
    padding-top: 75%;
  }
  .ombuslide-responsive.image-force-height-proportional-mobile.image-force-height-proportional-16-9 .slide-image-outer,
  .ombuslide-responsive.image-force-height-proportional-mobile.image-force-height-proportional-16-9 .slides-nav {
    padding-top: 56.25%;
  }
}
@media all and (min-width: 990px) {
  .ombuslide-responsive.center-crop-desktop .slide-image-inner {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .ombuslide-responsive.center-crop-desktop img {
    width: 100%;
    height: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
  }
  .ombuslide-responsive.caption-overlay-desktop.image-force-height-proportional .slides-list > li {
    position: relative;
  }
  .ombuslide-responsive.caption-overlay-desktop.image-force-height-proportional .group-caption {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .ombuslide-responsive.caption-overlay-desktop.image-force-height-proportional:hover .group-caption {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
  }
}
