/* temporarily hide footer */
div[data-type='region'][data-name='footer'] { display: none }

/* Make room for site header */
#supersized li { top: 91px; }

#slidecaption {}

#prevslide, #nextslide{ position:absolute; height:43px; width:43px; top:50%; margin-top:-21px; opacity:0.6; }
#prevslide{ left:10px; background:url('img/back.png'); }
#nextslide{ right:10px; background:url('img/forward.png'); }
#prevslide:active, #nextslide:active{ margin-top:-19px; }
#prevslide:hover, #nextslide:hover{ cursor:pointer; }
